In [31]:
import pandas as pd
df=pd.read_csv("Cheapestelectriccars-EVDatabase 2023 (1).csv")
df.head()

,Name,Subtitle,Acceleration,TopSpeed,Range,Efficiency,FastChargeSpeed,Drive,NumberofSeats,PriceinGermany,PriceinUK
0,Lucid Air Dream Edition P,118 kWh useable battery Available sin...,2.7 sec,270 km/h,645 km,183 Wh/km,820 km/h,All Wheel Drive,5,"€218,000",NaN
1,Porsche Taycan Turbo S,83.7 kWh useable battery Available si...,2.8 sec,260 km/h,400 km,209 Wh/km,980 km/h,All Wheel Drive,4,"€189,668","£142,400"
2,Audi e-tron GT RS,85 kWh useable battery Available sinc...,3.3 sec,250 km/h,405 km,210 Wh/km,1000 km/h,All Wheel Drive,4,"€146,050","£115,000"
3,Renault Zoe ZE50 R110,52 kWh useable battery Available sinc...,11.4 sec,135 km/h,315 km,165 Wh/km,230 km/h,Front Wheel Drive,5,"€36,840",NaN
4,Audi Q4 e-tron 35,52 kWh useable battery Available sinc...,9.0 sec,160 km/h,285 km,182 Wh/km,360 km/h,Rear Wheel Drive,5,NaN,NaN

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             309 non-null    object
 1   Subtitle         309 non-null    object
 2   Acceleration     309 non-null    object
 3   TopSpeed         309 non-null    object
 4   Range            309 non-null    object
 5   Efficiency       309 non-null    object
 6   FastChargeSpeed  309 non-null    object
 7   Drive            309 non-null    object
 8   NumberofSeats    309 non-null    int64
 9   PriceinGermany   282 non-null    object
 10  PriceinUK        198 non-null    object
dtypes: int64(1), object(10)
memory usage: 26.7+ KB

In [33]:
df=df['PriceinGermany']

In [34]:
df.str.lstrip()

0      €218,000
1      €189,668
2      €146,050
3       €36,840
4           NaN
         ...
304     €55,000
305     €60,000
306     €60,000
307     €65,000
308         NaN
Name: PriceinGermany, Length: 309, dtype: object

In [35]:
df

0      €218,000
1      €189,668
2      €146,050
3       €36,840
4           NaN
         ...
304     €55,000
305     €60,000
306     €60,000
307     €65,000
308         NaN
Name: PriceinGermany, Length: 309, dtype: object

In [36]:
df.dropna

<bound method Series.dropna of 0      €218,000
1      €189,668
2      €146,050
3       €36,840
4           NaN
         ...
304     €55,000
305     €60,000
306     €60,000
307     €65,000
308         NaN
Name: PriceinGermany, Length: 309, dtype: object>

In [37]:
df.dropna()

0      €218,000
1      €189,668
2      €146,050
3       €36,840
5       €63,667
         ...
303    €200,000
304     €55,000
305     €60,000
306     €60,000
307     €65,000
Name: PriceinGermany, Length: 282, dtype: object

In [1]:
df[1]

NameError: name 'df' is not defined